 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
  }
  
  header{
    text-align: center;
    height: 116px;
    display: flex;
    align-items: center;
    background-color: white;
  }

  header .imgs{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 457px;
  }
  
  header img{
    display: flex;
    width: 230px;
    height: 30px;
    cursor: pointer;
  }

  header ul{
    gap: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: #1b1b1b;
    width: 900px;
  }

  header ul li{
    width: 100px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
  }

  .icons{
    display: flex;
    gap: 25px;
    height: 20px;
    width: 180px;
  }

  .icons i{
    cursor: pointer;
  }

  .icons p{
    cursor: pointer;
  }

  #home{
  border-bottom: 1px solid black;
  width: 40px;
  display: flex;
  cursor: pointer;
  }

  .mainsub{
    cursor: pointer;
  }

.submenu1{
    display: none;
  }

  header ul li:hover .submenu1{
    display: block;
    position: absolute;
    display: flex;
    justify-content: start;
    height: 340px;
    width: 220px;
    top: 68px;
    animation-name: anime;
    animation-duration: 1.5s;
    animation-timing-function: ease;
  }

  .submenu1 ul{
    display: block;
    flex-direction: column;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 210px;
  }

.submenu1 ul li{
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: left;
    width: 150px;
    line-height: 19px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
  }

.submenu3{
  display: none;
}

header ul li:hover .submenu3{
  display: block;
  position: absolute;
  display: flex;
  justify-content: start;
  height: 180px;
  width: 220px;
  top: 68px;
  background-color: white;
  animation-name: anime;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

.submenu3 ul{
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.submenu3 ul li{
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: left;
  width: 90px;
  line-height: 19px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

  .submenu2{
    display: none;
    gap: 210px;
    
  }

  header ul li:hover .submenu2{
    display: block;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1500px;
    height: 500px;
    top: 68px;
    left: 100px;
    background-color: white;  
    animation-name: anime;
    animation-duration: 1.5s;
    animation-timing-function: ease;
  }

  .submenu2 ul{
    display: block;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 120px;
    height: 300px;
  }

  .submenu2 ul li{
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: left;
    width: 190px;
    line-height: 19px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
  }
  @keyframes anime{
      from {
          max-height: 0;
      }
      to {
          max-height: 500px;
      }
  }

  .ProductTypes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 170px;
    top: 150px;
  }

  .ProductTypes strong{
    line-height: 24px;
    font-size: 22px;
  }

  .ProductTypes p{
    line-height: 19px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .submenu4{
    display: none;
  }

  header ul li:hover .submenu4{
      display: block;
      position: absolute;
      display: flex;
      justify-content: start;
      height: 220px;
      width: 200px;
      top: 68px;
      background-color:white;
      animation-name: anime;
    animation-duration: 1.5s;
    animation-timing-function: ease;
  }

  .submenu4 ul{
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  }

  .submenu4 ul li{
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: left;
    width: 130px;
    line-height: 19px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
  }

.submenuth4{
display: none;

}

#portfoliolayouts:hover .submenuth4{
  display: block;
  position: absolute;
  display: flex;
  justify-content: start;
  height: 230px;
  width: 200px;
  top: 120px;
  left: 200px;
  background-color: white;
  animation-name: anime;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

.submenunt5{
  display: none;
}

#portfoliosingle:hover .submenunt5{
  display: block;
  position: absolute;
  display: flex;
  justify-content: start;
  height: 220px;
  width: 200px;
  top: 150px;
  left: 200px;
  background-color: white;
  animation-name: anime;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

.submenunt5 ul li{
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: left;
  width: 150px;
  line-height: 19px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

  .submenu6{
    display: none;
  }

  header ul li:hover .submenu6{
    display: block;
    position: absolute;
    display: flex;
    justify-content: start;
    height: 210px;
    width: 200px;
    top: 68px;
    background-color: white;
    animation-name: anime;
    animation-duration: 1.5s;
    animation-timing-function: ease;
  }
  .submenu6 ul{
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  }

  .submenu6 ul li{
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: left;
    width: 130px;
    line-height: 19px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
  }

  .submenuth6{
    display: none;
  }

  #posttypes:hover .submenuth6{
    display: block;
    position: absolute;
    display: flex;
    justify-content: start;
    height: 220px;
    width: 200px;
    top: 150px;
    left: 200px;
    background-color: white;
    animation-name: anime;
    animation-duration: 1.5s;
    animation-timing-function: ease;
  }

  .submenuth6 ul{
    display: block;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
  }

  .submenuth6 ul li{
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: left;
    width: 140px;
    line-height: 19px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
  }

  .submenu7{
    display: none;
  }

  header ul li:hover .submenu7{
    display: block;
    position: absolute;
    display: flex;
    justify-content: start;
    height: 220px;
    width: 200px;
    top: 68px;
    background-color:white;
    animation-name: anime;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

.submenu7 ul{
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
}

.submenu7 ul li{
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: left;
  width: 130px;
  line-height: 19px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.submenusec7{
  display: none;
}

#classic:hover .submenusec7{
  display: block;
  position: absolute;
  display: flex;
  justify-content: start;
  height: 220px;
  width: 200px;
  top: 20px;
  right: 200px;
  background-color:white;
  animation-name: anime;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

.submenusec7 ul{
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.submenusec7 ul li{
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: left;
  width: 130px;
  line-height: 19px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.submenu8{
  display: none;
}

#infographic:hover .submenu8{
  display: block;
  position: absolute;
  display: flex;
  justify-content: start;
  height: 250px;
  width: 200px;
  top: 50px;
  right: 200px;
  background-color:white;
  animation-name: anime;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

.submenu8 ul{
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.submenu8 ul li{
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: left;
  width: 130px;
  line-height: 19px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.submenu9{
  display: none;
}

#interactive:hover .submenu9{
  display: block;
  position: absolute;
  display: flex;
  justify-content: start;
  height: 250px;
  width: 200px;
  top: 90px;
  right: 200px;
  background-color:white;
  animation-name: anime;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

.submenu9 ul{
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.submenu9 ul li{
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: left;
  width: 130px;
  line-height: 19px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.submenu10{
  display: none;
}

#typography:hover .submenu10{
  display: block;
  position: absolute;
  display: flex;
  justify-content: start;
  height: 320px;
  width: 200px;
  top: 120px;
  right: 200px;
  background-color:white;
  animation-name: anime;
    animation-duration: 1.5s;
    animation-timing-function: ease;
}

.submenu10 ul{
  display: block;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.submenu10 ul li{
  cursor: pointer;
  color: black;
  display: flex;
  justify-content: left;
  width: 130px;
  line-height: 19px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
}

.submenu11{
  display: none;
}

#cart:hover .submenu11{
  display: block;
  position: absolute;
  display: flex;
  justify-content: start;
  height: 320px;
  width: 200px;
  top: 120px;
  right: 200px;
  background-color:white;
}